@import "tailwindcss";

:root {
	--peach-c: #e7816b;
	--black-c: #1d1c1e;
	--white-c: #fff;
	--lightPeach-c: #ffad9b;
	--darkGray-c: #333136;
	--lightGray-c: #f1f3f5;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--color-peach-c: var(--peach-c);
	--color-black-c: var(--black-c);
	--color-white-c: var(--white-c);
	--color-lightPeach-c: var(--lightPeach-c);
	--color-darkGray-c: var(--darkGray-c);
	--color-lightGray-c: var(--lightGray-c);
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
} */

body {
	font-family: Arial, Helvetica, sans-serif;
}

.footer-bg-image {
	background-image: url("/assets/shared/desktop/bg-pattern-call-to-action.svg")
		center no-repeat;
}
.homePage-bg-image {
	background-image: url("/assets/home/desktop/bg-pattern-hero-home.svg") center
		no-repeat;
}
